@{
    ViewBag.Title = "TRIO FAQ";
}
    <h2>@ViewBag.Title (@Html.ActionLink("Edit", "FAQEdit", "Home"))</h2>

<!-- Bootstrap FAQ - START -->
    <div class="container">
        <br />
        <div class="panel-group" id="accordion">
            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
<<<<<<< HEAD
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">@item.QuestionValue</a>
=======
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">item.Question</a>
>>>>>>> a5bbea2a95ed1d80266e62306c898d51bf7ee454
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
<<<<<<< HEAD
                            @item.AnswerValue
=======
                            item.Answer
>>>>>>> a5bbea2a95ed1d80266e62306c898d51bf7ee454
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
